<!-- For Header we Use NAV Tag -->
<nav>
    <!-- Left Part of the Header -- Website Name -->
    <h1>Madani.in</h1>

    <!-- Middle Part of the Header -- Search Input and Button -->
    <div>
        <input 
        type="text" 
        placeholder="Search" />
        <button>Search</button>
    </div>

    <!-- Right Side of the Header -->
    <ul>
        <a href="#"><span className="header__optionLineOne">Hello Guest</span><br>
            <span className="header__optionLineTwo">Sign In</span></a>
        <a href="#"><span className="header__optionLineOne"></span>Seller</a>
        <a></a>
    </ul>
</nav>
