/* The Main NAVBAR/HEADER Class */
.nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bbb14a;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Name of the Application */
/* .nav > header {
    width: 100px;
    color: #31332E;
    margin-left: 10px;
    font-size: larger;
    object-fit: contain;
    margin-top: 18px;
} */
#homelink {
    width: 100px;
    color: #31332E;
    margin-left: 10px;
    font-size: larger;
    object-fit: contain;
    color: #31332E;
    text-decoration: none;
}

/* The Middle Part i.e SearchInput and Button/Icon */
.nav__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

/* This is the Input Field */
.nav__searchInput {
    border: none;
    border-radius: 7px;
    width: 90%;
    height: 30px;
    padding: 10px;
    outline-width: 0;
    font-size: large;
}

/* The Search Button */
.nav__searchButton {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 70px;
    font-size: large;
    border: none;
    background-color: #cd9042;
    border-radius: 5px;
    color: #2D2E2A;
    cursor: pointer;
}
.nav__searchButton:hover {
    border: 1px solid darkgray;
}

/* The Right Side of the header i.e headerOptions */
.nav__options {
    width: 300px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    margin-left: 15px;
    margin-right: 25px;
}

/* Container for All Options  */
.nav__optionsRight {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

/* This is to Remove the UnderLine */
#line {
    text-decoration: none;
}

.nav__optionsLineOne {
    color: #3B3E38;
    font-weight: 500;
}

.nav__optionsLineTwo {
    color: #33312E;
    font-weight: 600;
}

/* This is for Basket/Cart */
.nav__optionsBasket {
    display: flex;
    align-items: center;
}

/* The Header Options for the Seller After Sign In */
/* The Right Side of the header i.e headerOptions */
.nav__signInOptions {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    /* margin-left: 15px; */
    margin-right: 25px;
}


