<!-- This is the Main Container  -->
<div class="cart">
    <h1>Your Shopping List</h1>

    <!-- This Contains the Items List -->
    <div class="row">
        <div class="col-sm-8 details">
            <h2>{{ emptyCart }}</h2>

            <!-- Apply for Loop for the Rest of the Products -->
            <ul *ngFor="let cart of cartData">
                <li>
                    <img
                    class="cartItem__image" 
                    src="{{ cart.productImage }}" 
                    alt="" />
                </li>
                <li>
                    <span>{{ cart.productName }}</span>
                </li>
                <li>
                    <span>Price: {{ cart.productPrice }}</span>
                </li>
                <li>
                    <span>{{ cart.quantity }}</span>
                </li>
                <li>
                    <button (click)="onRemoveItem(cart.id)">Remove item</button>
                </li>
            </ul>
        </div>
        <!-- This contains the Total Amount and Charges -->
        <div class="col-sm-4 summary">
            <h3>Summary</h3>
            <ul>
                <li>
                    <span>Amount</span><span>{{ priceSummary.price }}</span>
                </li>
                <li>
                    <span>Tax</span><span>{{ priceSummary.tax }}</span>
                </li>
                <li>
                    <span>Delivery Charges</span><span>{{ priceSummary.delivery }}</span>
                </li>
                <li>
                    <span>Discount</span><span>{{ priceSummary.discount }}</span>
                </li>
                <li>
                    <span>Total Amount</span><span>{{ priceSummary.total }}</span>
                </li>

                <button (click)="onCheckout()">Checkout</button>
            </ul>
            
        </div>
    </div>
</div>