<div class="row product-details" *ngIf="productIdData">
    <div class="col-sm-6">
        <img class="productId__image"
        src="{{ productIdData.productImage }}" 
        alt="" />
    </div>
    <div class="col-sm-6">
        <div class="details">
            <h3>{{ productIdData.productName }}</h3>
            <h4>Price: {{ productIdData.productPrice }}</h4>
            <P>Category: {{ productIdData.productCategory }}</P>
            <p>{{ productIdData.productDetails }}</p>

            <div>
            <button class="buy__now">Buy Now</button>
            <button *ngIf="!removeCartItem" class="addTo__basket" (click)="addToBasket()">Add to cart</button>
            <button *ngIf="removeCartItem" class="addTo__basket" (click)="removeItem(productIdData.id)">Remove item</button>
            </div>

            <!-- For No. of Quantity -->
            <div class="product__quantity">
                <button (click)="onQuantityChange('min')">-</button>
                <input type="text" value="{{ productQuantityChange }}" />
                <button (click)="onQuantityChange('max')">+</button>
            </div>
        </div>
    </div>
</div>
