table {
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}

table, td, table, th {
    border: 1px solid brown;
    padding: 1opx;
    min-height: 200px;
}

img {
    width: 100px;
    height: 100px;
}