<div class="product__List">

    <!-- This will Display the Product Deleted Message -->
    <h3>{{ productDeleted }}</h3>

    <table>
        <thead>
            <tr>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Product Category</th>
                <th>Product Price</th>
                <th>Product Details</th>
                <th>options</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let product of productsList">
                <td><img 
                    src="{{ product.productImage }}" /></td>
                <td>{{ product.productName }}</td>
                <td>{{ product.productCategory }}</td>
                <td>{{ product.productPrice }}</td>
                <td>{{ product.productDetails }}</td>
                
                <!-- To use theDeleteIcon and UpdateIcon we need to Bind it to icon property -->
                <td>
                    <!-- We Pass the ID here to get the Specific Product -->
                    <a class="product__options" routerLink="/seller-update-product/{{ product.id }}"><fa-icon [icon]="updateIcon"></fa-icon></a>
                    <fa-icon class="product__delete" [icon]="deleteIcon" (click)="productDelete(product.id)"></fa-icon>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>
