/* The Contains Image and Details */
/* .carousel__container {
    border: 1px solid red;
} */

/* This Contains the Image of the Carousel */
.picsum-img-wrapper {
    /* border: 1px solid red; */
    height: 360px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* This is the Image */
.carousel__images {
    object-fit: contain;

}

/* This is  the Carousel Caption i.e  ProductName and Details */
.carousel-caption {
    padding: 10px;
    position: absolute;
    top: 50px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
    color:  #94bb28;
}

/* These Are the Carousel Arrows i.e Left, Right Navigation */


/* This is the Container for the Product List */
.productlist__container {
    /* margin-top: 5px; */
    margin-bottom: 60px;
    padding: 10px;
}

/* Heading */
.top__products {
    border-bottom: 2px solid #CA831B;
}

/* picture of the Listed Product */
.product__pictures {
    color: #3B3E38;
    margin-top: 5px;
    width: 100%;
    border: 2px solid darkgrey;
}
.product__picture {
    text-align: center;
    width: 100%;
    height: 200px;
}

/* PRoducts Details */
.product__details {
    border-top: 1px solid darkgrey;
    border-bottom: 1px solid darkgrey;
    padding: 10px;
}

/* Footer */
.product__footer {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.product__footer a {
    color: #94bb28;
}
